.topbar {
  position: fixed;

  top: 0;
  right: 20px;
  height: 50px;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 60px); /* Ajuste para sidebar */
  padding: 10px;
}

@media (max-width: 700px){
  .topbar_conteudo {
      width: calc(100% - 160px);
  }
}

.logoutButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s;
}

.logoutButton:hover {
  color: red;
}

.pageContent {
  margin-top: 50px;
}

.themeToggle {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
  font-size: 20px;
  margin-right: 2rem;
}

.themeToggle:hover {
  color: var(--primary-color);
}

/* Adiciona transição suave no botão de logout */
.logoutButton {
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}

/* Garante que o botão de logout fique visível no modo escuro */
[data-theme="dark"] .logoutButton {
  color: white;

  &:hover{
    color: red;
  }
}


