.sidebarItem {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    gap: 10px;
    width: 100%;
    transition: background 0.3s;
  }
  
  .sidebarItem:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .icon {
    font-size: 24px;
  }
  
  .text {
    white-space: nowrap;
  }
  